<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>VerduMarket</title>
</head>

<body>

    <header>
        <!-- TO DO -->
    </header>

    <main>
        <!-- NICO Z: Empece a probar la grilla de imagenes -->
        <section class="grid-container">
            <div class="logo">
                <img src="/images/logo.png" alt="">
            </div>
            <div class="img1"><img src="/images/almendras.jpg" alt="">
            </div>
            <div class="img2"><img src="/images/banana.jpg" alt="">
            </div>
            <div class="img3"><img src="/images/lime.jpg" alt="">
            </div>
            <div class="img4"><img src="/images/orange.jpg" alt="">
            </div>
            <div class="img5"><img src="/images/onion.jpg" alt="">
            </div>
            <div class="img6"><img src="/images/pina.jpg" alt="">
            </div>
            <div class="large">
                <img src="/images/frutas-verduras.png" alt="">
            </div>
        </section>

    </main>

    <footer>
        <!-- TO DO -->
    </footer>

</body>

</html>