<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>VerduMarket</title>
</head>

<body>

    <header>
        <!-- TO DO -->
        <h1>Probando la tipografia</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt nam accusantium illo sapiente commodi facere veritatis voluptatum, et assumenda repudiandae harum optio enim sed ipsa. Ab saepe molestiae voluptatibus ducimus.</h2>
    </header>

    <main>
        <!-- TO DO -->
    </main>

    <footer>
        <!-- TO DO -->
    </footer>

</body>

</html>