<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>VerduMarket: Mercado Online de Frutas y Verduras</title>
  </head>

  <body>
    <header>
        <nav>
            <input type="checkbox" id="menu">
            <label for="menu"></label>
            <ul class="menu-options">
                <li>Quienes Somos</li>
                <li>Productos</li>
                <li>Zonas de Envío</li>
                <li>Contacto</li>
            </ul>
        </nav>
        <img src="https://via.placeholder.com/350x150" alt="" class="logo" />
    </header>

    <main>
        <!-- TO DO -->
    </main>

    <footer>
      <!-- TO DO -->
    </footer>
  </body>
</html>
